.card-c{
    width: 95%;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    border-radius: 20px;
    padding: 5px;
}

.img-c{
    margin-left: 30px;
    height: 60%;
    overflow: hidden;
}

.img-c img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
    border: 0;
}