.card{
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    margin-top: 20px;
    height: 300px;
    overflow: hidden;
}

.img img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
    border: 0;
}

.btn{
    width: 100%;
    display: none;
    justify-content: space-evenly;
}

.card:hover .btn{
    display: flex;
}

h3{
    margin: 10px 0;
}

p{
    margin: 0;
    margin-bottom: 20px; 
}

button{
    width: 100px;
    height: 30px;
    font-size: 18px; 
    font-weight: 700;
    border-radius: 20px;
    margin-bottom: 20px;
}

button.mais{
    border: transparent;
    background-color: teal;
    color:white;
    
}

button.mais:hover{
    background-color: #003f3f;
}

button.carrinho{
    background-color: white;
    border: 3px teal solid;
    color:teal;
}

button.carrinho:hover{
    border-color: #003f3f;
}