#root{
    background-color: #fafafa;
}

.produtos-h{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 50vh;
    overflow: hidden;
}

#controle{
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

button{
    left: 30px;
}